<div>
    @if (isOpenCommunity()) {
        <div class="nav-header">Community</div>
    }

    <a class="nav-item" href="/prayer-tracker" (click)="handleSelectNaviationItem($event, 'Prayer Tracker')" [title]="isOpenCommunity() ? '' : 'Prayer Tracker'">
        <mat-icon>sign_language</mat-icon>
        @if (isOpenCommunity()) {
            <span class="nav-text">Prayer Tracker</span>
        }
    </a>   
    
    <a class="nav-item" href="/my-groups" (click)="handleSelectNaviationItem($event, 'My Groups')" [title]="isOpenCommunity() ? '' : 'My Groups'">
        <mat-icon>groups</mat-icon>
        @if (isOpenCommunity()) {
            <span class="nav-text">My Groups</span>
        }
    </a>       
    
    @if (isOpenCommunity()) {
        <div class="nav-separator"></div>
    }
</div> 

