<div>
    @if (isOpenChurch()) {
        <div class="nav-header">Church</div>
    }

    <a class="nav-item" href="/giving-portal" (click)="handleSelectNaviationItem($event, 'Giving Portal')" [title]="isOpenChurch() ? '' : 'Giving Portal'">
        <mat-icon>volunteer_activism</mat-icon>
        @if (isOpenChurch()) {
            <span class="nav-text">Giving Portal</span>
        }
    </a>   
    
    <a class="nav-item" href="/marketplace" (click)="handleSelectNaviationItem($event, 'Marketplace')" [title]="isOpenChurch() ? '' : 'Marketplace'">
        <mat-icon>storefront</mat-icon>
        @if (isOpenChurch()) {
            <span class="nav-text">Marketplace</span>
        }
    </a>       
    
    @if (isOpenChurch()) {
        <div class="nav-separator"></div>
    }
</div> 

