<div class="nav-item">
    <div class="profile-content">
        <button matIconButton class="profile-icon" (click)="handleSelectNaviationItem($event, 'User Profile')"  [title]="isOpenProfile() ? '' : 'Erik Alting'">EA</button>

        @if (isOpenProfile()) {
            <div class="user-content">
                <button class="profile-button" (click)="handleSelectNaviationItem($event, 'User Profile')"><span class="user-text">Erik Alting</span></button>
                <button class="profile-button" (click)="handleSelectNaviationItem($event, 'User Profile')"><span class="plan-text">Pro Plan</span></button>
            </div>
        }

    </div>
</div>
